#page1{
	background-image: url(pic1.jpeg);
	background-repeat: no-repeat,no-repeat;
	background-size: cover;
}
.body1{
	color:white;
	padding:200px;
	position:relative;
    text-align: center;
    font-size: 5vw;
    opacity:0.7;
    background-color: rgba(0,0,0,0.5)
}
a:link.header1-page1,a:visited.header1-page1{
	background-color: rgba(0,255,0,0.5);
	text-decoration: none;
	color:white;
	padding:20px 25px;
	position: relative;
	left:45%;
	top:-90px;
	border-radius:20px;
}
a:link.header2-page1,a:visited.header2-page1{
	background-color: rgba(0,0,255,0.5);
	text-decoration: none;
	color:white;
	padding:20px 28px;
	position: relative;
	left:45%;
	top:-20px;
	border-radius: 20px;
}
a:hover.header1-page1{
	background-color: rgba(0,255,0,0.8);
	text-decoration: none;
}
a:hover.header2-page1{
	background-color: rgba(0,0,255,0.8);
	text-decoration: none;
}
.container{
	font-size:14px;
	color: rgba(0,0,0,0.9);
	opacity:0.8;
	position:relative;
}
li{
	padding-top: 18px;
}